html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
#divone{
    margin:0 auto;
    width:100%;
    height:100%;
    background:url("../Images/depositphotos_10357574-Grey-background-on-a-theme-food..jpg") no-repeat center center fixed ;
    -webkit-background-size:cover;
    background-color:#222;
}
#divwrapper{
margin :0 auto;

}

#divlinks{
background:#222;
padding:20px;
}

#divnav{
width:1000px;
background:#222;
height:40px;
margin:0 auto;}

#divnav ul{
list-style-type:none;}

#divnav ul li{
float:left;}

#divnav ul li a{
opacity:1.0;
display:block;
height:25px;
padding:5px; 
background:#000;
width:160px;
font-size:0.8em;
font-weight:bold;
color:#FFF;
text-align:center;
text-decoration:none;
margin:7px;
line-height:25px;
border-radius: 5x;
-webkit-border-radius: 5px;
-moz-border-radius:5px;
-o-border-radius:5px;
border:1px solid #000;
background:-webkit-gradient(linear,left top,left bottom, from(#666),to(#333));
background-image :-moz-linear-gradient(top ,#666,#333);
background:-o-gradient(linear,left top,left bottom, from(#666),to(#333));
}

#divnav ul li a:hover{
background:#333;
background:-webkit-gradient(linear,left top,left bottom, from(#000),to(#666));
background-image :-moz-linear-gradient(bottom ,#666,#333);
background:-o-gradient(linear,left top,left bottom, from(#000),to(#666));}

#divcontent{
    background-color:#000;
    width:100%;
    height:100%;
    opacity:0.2;
    position: absolute;
    top:0 px;
}

#divtwo{

    height:100%;
    padding:20px;
    background:#fff;
}
#divthree{
  height:100%;
    padding:20px;
    background:-webkit-gradient(linear,left top,left bottom, from(#3366ff),to(#3333ff));
      background:-o-gradient(linear,left top,left bottom, from(#3366ff),to(#3333ff));
      background-image :-moz-linear-gradient(bottom ,#3366ff.#3333ff);
}

#divfour{
     height:100%;
    padding:20px;
    background:-webkit-gradient(linear,left top,left bottom, from(#ff9900),to(#ff9933));
    background:-o-gradient(linear,left top,left bottom, from(#ffff66),to(#ffff99));
   background-image :-moz-linear-gradient(bottom ,#ffff66,#ffff99);
}

#div-footer-links{
    height:100%;
    padding:30px;
    background:-webkit-gradient(linear,left top,left bottom, from(#d0d0d0),to(#c0c0c0));
    background:-o-gradient(linear,left top,left bottom, from(#d0d0d0),to(#c0c0c0));
background-image :-moz-linear-gradient(bottom ,#d0d0d0,#c0c0c0);
}



