body{
background:-webkit-gradient(linear,left top,left bottom, from(#336699),to(#d0d0d0));
}
#divone {
width:1200px;
padding:10px;
margin:0 auto;
background-color:ff9933;
border:1 solid#333;
}
#divone h1{
color:#990000;}
#divtwo{
width:1200px;
padding:10px;
margin:0 auto;
background-color:#d0d0d0;
}
#divtwo table {
margin:0 auto;
width:800px;
}
#divtwo table tr td{
text-align:center;
}
#divtwo table tr td a{
dispaly:blocks;
padding:10px;
text-decoration:none;
color:#333;
font-size:1em;
font-weight:bold;
background-color:#d0d0d0;}

#divtwo table tr td a:hover{
color:#fff;background-color:#666;}

#divthree{
margin:0 auto;
width:1220px;
}
#divfour{
background-color:#000;
padding:20px;
opacity:0.7;
width:300px;
border:1 solid#000;
border-radius:10px;
position:absolute;
top:430px;
left:140px;
}
#divfour table {
margin:0 auto;
}
#divfour table tr td{
text-align:center;
}
#divfour table caption{
color:#fff;
}
#divfour:hover{
background:#666;
opacity:2;
}
#divfive{
background-color:#666;
width:1198px;
padding:10px;
margin:0px auto;
border:1 solid#000;
}
#divfive h1{
color:#333;
}
#divfive h2{
color:#d0d0d0;
}
#divsix{
margin:0 auto;
width:1200px;
padding:10px;
background-color:#d0d0d0;
}
#divsix table{
margin:0 auto;
}
#divsix a{
text-decoration:none;
color:#333;
font-size:1.2em;
font-weight:bold;
margin:50px;
}
#divsix a:hover{
color:#990000;
text-decoration:underline;
}
#divseven{
width:1140px;
margin:0 auto;
padding:40px;
background-color:#fff;
color:#666;
}
#divseven h3{
color:#333;
}
#divseven ul{
background-color:#d0d0d0; padding:-10px;}
#divseven table{
margin:0 auto;
background-color:#d0d0d0;
}
#divseven a{
text-decoration:none;
color:#990000;
font-size:1.3em;
font-weight:bold;
}
#divseven a:hover{
color:#333;text-decoration:underline;
}

































































